body{
    font-family: 'Poppins', sans-serif;
    
}
h1{
    font-size: 45px;
    font-weight: 700;
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.top-banner p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.half-width{
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    
}
.half-width img{
    width: 100%;
}
.tomato-color{
    color: tomato;
}
#top-slice{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Yeseva One';
    border-left: 3px solid;
    border-image: linear-gradient(tomato, salmon);
    border-image-slice: 1;
    padding: 10px;
    
    
}
.link-button{
    text-decoration: none;
    color: white;
    font-size: 700;
    background-image: linear-gradient(tomato, salmon);
    padding: 10px 40px;
    border-radius: 10px;
}
.my-mission h1{
    
    text-align: center;
}
.my-mission{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
    
}

.one-third{
    width: 45%;
    display: block;
    box-shadow: 10px 10px 10px gray;
    margin: 10px 20px;
    padding: 10px 20px;
    border-radius: 15px;
    
}
.one-third img{
    width: 50%;
}
#mission-inline{
    display: inline-flex;
}
#mission-bg{
    background-color: lightcyan;

}
#vission-bg{
    background-color: rgb(244, 222, 225);
}
#goals-bg{
    background-color: lightgoldenrodyellow;
}
.develop-limits {
    background-image: url(images/shape-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20%;
}
.global-community{
    margin-top: 100px;
    background-image: url(images/shape-1.png);
    background-position: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 20%;
}
.corona-app h1{
    text-align: center;
}
.corona-app img{
    height: 450px;
    width: 250px;
    margin-left: 30%;
    margin-top: 100px;
    /* background-image: url(images/shape-3.png);
    background-position: right;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 20%; */
    background-image: url(images/shape-2.png);
    background-position: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 40%;
   
}
#bulid-corona{
    display: inline-flex;
    
}
footer{
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    padding: 10px 40px;
}